<header><h3>Circuit Circus</h3></header>
<nav>
  <a href="/">
    <span id="home_link">Home</span>
  </a>
    <!-- <img src="/assets/bat_pos_right.png" class="nav_bat"> -->
    <%= image_tag("bat_pos_right.png", class: "nav_bat") %>
    
  
    <!-- <hr id="first_hr"> -->
  <a href="/whatisacircuit">
    <span id="first_link">Circuit</span>
  </a>
    <!-- <img src="/assets/resistor.png" class="nav_res"> -->
    <%= image_tag("resistor.png", class: "nav_res") %>
    

    <!-- <hr class="hr"> -->
  <a href="/ohm" class="no_click">
    <span id="second_link" style="visibility: hidden">Ohm's Law</span>
  </a> 
    <!-- <img src="/assets/resistor.png" class="nav_res"> -->
    <%= image_tag("resistor.png", class: "nav_res") %>
    
  
    <!-- <hr class="hr"> -->
  <a href="/series" class="no_click">
    <span id="third_link" style="visibility: hidden">Series</span>
  </a> 
    <!-- <img src="/assets/resistor.png" class="nav_res"> -->
    <%= image_tag("resistor.png", class: "nav_res") %>
    
  
    <!-- <hr class="hr"> -->
  <a href="/parallel" class="no_click">
    <span id="fourth_link" style="visibility: hidden">Parallel</span>
  </a>
    <!-- <img src="/assets/resistor.png" class="nav_res"> -->
    <%= image_tag("resistor.png", class: "nav_res") %>
    
    
    <!-- <hr class="hr"> -->
  <a href="/games1" class="no_click">
    <span id="fifth_link" style="visibility: hidden">Game 1</span>
  </a>
    <!-- <img src="/assets/resistor.png" class="nav_res"> -->
    <%= image_tag("resistor.png", class: "nav_res") %>
    
    
    <!-- <hr class="hr"> -->
  <a href="/games2" class="no_click">
    <span id="sixth_link" style="visibility: hidden">Game 2</span>
  </a>
    <!-- <img src="/assets/resistor.png" class="nav_res">  -->
    <%= image_tag("resistor.png", class: "nav_res") %>
    

  <!-- <img src="/assets/lightbulb.png" id="lightbulb_off">  -->
  <%= image_tag("lightbulb.png", class: "lightbulb_off") %>
</nav>
<div class="clear"></div>
<div class="info">


  <div class="dim">
    <div class="instructions">
        <h2>Welcome!</h2>
        <p>
          This is lesson one! Here you have a basic circuit! Click on an object to learn more about it! Click on the glowing black object and drag it to the dashed box that appears! Good Luck! And remember, have fun!
        </p>
      <button id="instructions_check">Got It!</button>
    </div>
  </div>
      
    <div class="learning_first">
      <div class="init_text">
        <h2>Circuit</h2>
          An electronic circuit is a complete course of conductors through which current can travel. Circuits provide a path for current to flow. To be a circuit, this path must start and end at the same point. In other words, a circuit must form a loop.
        </p>
      </div>
      <div class="res_text">
        <h2>Resistors</br></h2>
        <p>
          A resistor represents a given amount of resistance 
          in a circuit. Resistance is a measure of how the flow 
          of electric current is opposed or "resisted." It is 
          defined by Ohm's law which says the resistance equals 
          the voltage divided by the current. 
        </p>
      </div>
      <div class="bat_text">
        <h2>Battery</br></h2>
        <p>
          A cell or a battery is a power supply
         that uses chemical energy to make electricity. 
        </p>
      </div>
    </div>
    <div class="outer">
      <div class="outer-dropzones_first">
        <h2>What is a Circuit?</h2>
        <div id="outer-dropzone4" class="res_dropzone_first">
        </div>
        <div id="outer-dropzone5" class="battery_dropzone_first">
        </div>
        <%= link_to "Continue", ohm_path, {:class => "button"}%>
      </div>
    </div>

    <div class="droppings">
      <div class="draggable drag-drop resistor">
        <%= image_tag("resistor.png", id: "start_res") %>
        <!-- <img src="/assets/resistor.png" id="start_res"> -->
      </div> 
      <div id="yes-drop" class="draggable drag-drop battery">
        <%= image_tag("bat_pos_left.png") %>
      </div>
    </div>
</div>





